body{
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	background-image: url('../img/bg.png');
	border-top: 5px solid #7e7e7e;
	padding-top: 25px;
}

.wrapper{
	padding: 0 0 50px 0;
}

//Header
#search {}
form[name="search"] {
	width: 200px;
}

.input-group .form-control{
	background-color: #f3f3f3;
}
.btn-primary {
    color: #ffffff;
    background-color: #29c5e6;
    border-color: #1abadc;
    font: 13px 'Oswald', sans-serif;
}
.navig{
	margin-top: 25px;
	border-radius: 0;
	background-color: #f3f3f3;
	min-height: 40px;
}

.navig>ul>li{
	font: 14px 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.navig>ul>li>a{
	padding: 10px 30px;
}
.navbar-default .navbar-nav>li>a{
	color: #c8c8c8;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #fff;
	background-color: #29c5e6;
}
.navbar-default .navbar-nav>.active{
	background-color: #29c5e6;
}

.heading{
	margin-top: 30px;
	background: transparent url('../img/h1-bg.png');
	height: 39px;
	font: 14px 'Oswald', sans-serif;
	color: #7e7e7e;
}

.heading h1{
	margin: 0;
	padding: 0 10px;
	display: inline-block;
	background: transparent url('../img/bg.png');
	margin-left: 30px;
	letter-spacing: 3px;
	text-transform: uppercase;
	background: ;
}

aside{
	margin-top: 25px;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}
.left-aside>li{
	margin-left: -34px;
	line-height: 40px;
	border-bottom: 1px solid #e7e7e7;
	color: #8f8f8f;
	display: list-item;
  font: 300 14px 'Oswald', sans-serif;
  list-style-position: inside;
  list-style-type: square;
  padding: 10px;
}
.left-aside>li:last-child{
	border-bottom: none;
}
.left-aside>li a{
	color: #8f8f8f;
	text-decoration: none;
	text-transform: uppercase;
}
	.left-aside>li:hover a{
		color: #29c5e6;
	}
body .wrapper .submenu li{
	background-color: #f3f3f3;
	color: #8f8f8f;
	display: list-item;
  font: 300 14px 'Oswald', sans-serif;
  list-style-position: inside;
  list-style-type: square;
  padding: 10px;
  text-transform: uppercase;
}


